/* font-family: "Inconsolata", monospace;
font-family: "Roboto Mono", monospace; */

/* NORMALIZACIÓN: */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*  Esto mantiene el ancho y el alto a pesar de padding y border */
    font-family: "Inconsolata", monospace;
    list-style: none; /* Quitar los puntos e decoración de las listas */
    text-decoration: none; /* Esto quita el subrayado de los enlances */
    color: black;
}

header {
    position: fixed; /* esto hace que el header se quede fijo en la parte superior */
    right: 0;
    top: 0;
    z-index: 10; /* Esto hace que el header se muestre por encima */
    width: 100%;
    display: flex; /*Esto hará que los elementos se pongan en linea */
    align-items: center;/*Centra verticalmente */
    justify-content: space-between;/*Que los elementos se separen */
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700; /* Este es el grueso de las letras */
}

.navlist{
    display: flex; /*Esto sirve para que los elementos de la lista UL se pongan en linea */
}

.navlist a {
    margin-left: 60px; /*Separa las palabras */
    font-size: 17px;
    font-weight: 650;
    border-bottom: 2px solid transparent; /*este es un subrayado transparente */
    transition: all .5s ease 0s; /*esto es para animar todas las caracteristicas del .navlist a*/
}

.navlist a:hover{
    border-bottom: 2px solid black; /*este es un subrayado negro que aparecera cuando hacemos hover */

}

 #menu-icon{
     display: none; /*pongo en none para que solo se vea cuando la pagina esta colapsada en forma horizontal */
} 

#menu-icon{
    font-size: 35px;
    z-index: 11; /*Para q este sobre el header*/
    cursor: pointer; /*para que aparezca la manito cuando ponemos el mouse por arriba*/
}

#menu-toggle{
    display: none; /*Nunca quiero  que se vea el cheackbox */
}

.menu-icon-action{
    display: none; /*para que no se le pueda hacer click */
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, rgb(255, 255, 255) 0%, rgb(251, 252, 237) 25%, hsl(60, 100%, 98%) 75%);
    position: relative;/*para que sea relativo al contenedor (nos permite usar rop, bottom, left y right)*/
    display: grid; /*para que el hero se pueda dividir en dos columnas */
    grid-template-columns: 1fr 1fr;/*las dos columnas*/
    align-items: center;/*alinear verticalmente el hero*/
    gap:2rem;/*espacio entre columnas*/
}

section{
    padding: 0 8%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h1{
    font-family: "Roboto Mono", monospace;;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-text p{
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-img img{
    width: 400px;
    margin:10% 0 0 10%;
    height: auto;
    transition: all 2s linear; /* Esto hace que la transicion sea lineal */
    border-radius: 40px;
}

.hero-img img:hover{
    width: 450px;
    opacity: 0.6;
}

.hero-text a{
    display:inline-block;
    background-color:rgb(239, 241, 217) ;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover{
    background-color: transparent;
    border:1px solid black;
    transform: translateX(8px);
}

.hero-text a.lenguaje{
    background-color: transparent;
    border: 1px solid black;
    margin-left: 20px;
}

.hero-text a.videos i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top:50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin:26px;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover{
    color: rgb(73, 73, 73);
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color:rgb(207, 207, 207);
    border-radius: 30px;
    transition: all .5s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}


/* Aca vamos a hacer mediaqueries para que la web sea responsive */

@media (max-width:992px){
    section {
        padding:0 3%;
        transition: .2s;
    }

    .hero-text{
        padding-top: 0;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p {
        font-size: 70%;
    }

    .scroll-down{
        display: none;
    }

    .icons{
        display: none;
        
    }
}

@media(max-width:600px){

    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px;
    }

    .hero-img{
        margin: 0;

    }

    .hero{
        height: 100%;
        gap:1rem;
        grid-template-columns: 1fr;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: rgba(255, 241, 216, 0.945);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease-out;
    }

    .navlist a{
        display: block;
        margin:7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul {
       right: 0;   
    }
}